@model IEnumerable<MedicalMarket.Models.App.Category>

@{
    ViewData["Title"] = "Index";
}

@Html.AntiForgeryToken()

<p class="btn btn-default" style="float:right; margin:8px;">
    <a asp-action="Create">اضافة قسم</a>
</p>

<table class="table table-striped" style="direction:rtl;">
    <thead>
        <tr>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
            <th class="text-right">
                خيارات اخرى
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                    <a class="deletebtn" style="cursor:pointer;" data-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button class="close" data-dismiss="modal" style="float:left;">&times;</button>
                 <h4 class="modal-title">حذف</h4>
             </div>
             <div class="modal-body">
                 <h3>هل انت متاكد من حذف هذا القسم ؟</h3>
                 <p>من الممكن ان يترتب ع حذف هذا القسم حذف كل المنتجات الموجوده بداخله</p>
             </div>
             <div class="modal-footer">
                 <button class="btn btn-danger" id="del">حذف</button>
             </div>
         </div>
    </div>
</div>




@section Scripts{
     <script src="~/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/app/deleteCategoryAsync.js"></script>
}
