@model MedicalMarket.Models.App.Order

@{
    ViewData["Title"] = "Details";
}

<div dir="rtl" style="margin-top:25px;">
    <div class="form-group">
        <label class="control-label">اسم صاحب الطلب:</label>
        <label class="control-label col-md-10">@Model.Name</label>
    </div>
    <div class="form-group">
        <label class="control-label">رقم الهاتف:</label>
        <label class="control-label" style="margin-right:150px;">@Model.Phone</label>
    </div>
    <div class="form-group">
        <label class="control-label">الايميل:</label>
        <label class="control-label" style="margin-right:150px;">@Model.Email</label>
    </div>
    <div class="form-group">
        <label class="control-label">الإجمالى:</label>
        <label class="control-label" style="margin-right:150px;">@Model.Total</label>
    </div>
    <div class="form-group">
        <label class="control-label">العنوان:</label>
        <label class="control-label" style="margin-right:150px;">@Model.Address</label>
    </div>
    <div class="form-group">
        <label class="control-label">تم ؟</label>
        @Html.DisplayFor(m => m.IsFinished)
    </div>
</div>

<div>
    <h3>المشتريات</h3>
    <table class="table table-striped" style="direction:rtl;">
        <thead>
            <tr>
                <th class="text-right">
                    اسم المنتج
                </th>
                <th class="text-right">
                    الكميه
                </th>
                <th class="text-right">
                    السعر (للواحده)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
