@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<ApplicationUser>

@{
    ViewData["Title"] = "المديرون";
}

@Html.AntiForgeryToken()

<p class="btn btn-default" style="float:right; margin:8px;">
    <a asp-action="AddAdmin">اضافة مدير</a>
</p>

@Html.AntiForgeryToken()

<table class="table table-striped" style="direction:rtl;">
    <thead>
        <tr>
            <th class="text-right">
                الايميل
            </th>
            <th class="text-right">
                خيارات اخرى
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a class="deletebtn" style="cursor:pointer;" data-id="@item.Id" data-email="@item.Email">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-7">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" style="float:left;">&times;</button>
                <h4 class="modal-title">حذف</h4>
            </div>
            <div class="modal-body">
                <h3>هل انت متاكد من حذف هذا المدير ؟</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="del">حذف</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/app/deleteAdminAsync.js"></script>
}


